<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="filename">log/mongo_db.log</Property>
        <Property name="filename_info">log/mongo_db_info.log</Property>
    </Properties>

    <ThresholdFilter level="trace"/>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} (%F:%L) - %m%n"/>
        </Console>

        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} (%F:%L) - %m%n"/>
        </File>

        <File name="File_info" fileName="${filename_info}">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} (%F:%L) - %m%n"/>
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="File"/>
        </Root>

        <Logger name="mvv.app" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="File_info"/>
        </Logger>
    </Loggers>
</Configuration>